@page {
  size: A4;
  margin: .4in .5in .4in .5in;
}

/* header
{
  padding: 10% 10%;
} */

body {
 
  font-family: 'Poppins', sans-serif;
  size: 8.27in 11.69in;
  
}

.top-title-area {
  text-align: center;
  text-transform: uppercase;
}

.top-title {
  display: flex;
  align-items: center;
}
.title-name {
  width: 65%;
  font-size: 14px;
}

#copyText

  {
  display: inline;
  background-color: red;
  color: white;
  padding: 0px 0px;
  font-size: 12px;
  width: 20%;
}

.top-address {
  margin: 0px;
  font-size: 10px;
}

.top-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.watermark {
  position: relative;
  width: 100%;
  height: 100%;
}

.watermark-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  opacity: 0.22;
 
  pointer-events: none;

  width: 700px;
  height: auto;
}


.customer-detail {
  display: flex;
  justify-content: space-between;
}

.customer-id {
  width: 25%;
  border: 2px solid black;
  padding-left: 10px;
  font-size: 12px;
}

.date {
  width: 25%;
  border: 2px solid black;
  padding-left: 10px;
  font-size: 12px;
}

.customer-id p {
  margin: 5px;
}


.plot-info {
  
  border: 2px solid black;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.plot-info h2 {
  margin: 0px;
  text-decoration: underline;
  font-size: 14px;
 
}

.address {

  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 12px;
}
.address p{
  margin-bottom: 0;
}



.input-detail {
  margin-top: 30px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 20px;
}

.form-group input {
  border-top: none;
  border-left: none;
  border-right: none;

}

.form-control-received {
  width: 72%;
}

.form-control {
  width: 30%;
}

.form-control-as {
  width: 20%;
}
.form-control-cs {
  width: 22%;
}

.valid-subject {
  text-align: center;
  font-size: 12px;
}

.author-area {
  display: flex;
  justify-content: space-between;
  margin-top: 35mm;
}

.author {
  border-top: 2px solid black;
  width: 200px;
}

.author p {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

.qr
{
  display: flex;
            justify-content: center;
            align-items: center;
            page-break-after: always;
}
.qr img
{
  height: 30mm;
}